{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
        <div class="col-sm-6">
        <h2>{{ task.title }}
            <button type="button" class="btn btn-success btn-md"
                    data-toggle="modal" data-target="#myModal-task">Update Task
            </button>
        </h2>
             <div class="tab-pane active" role="tabpanel">
            {% include "modal/create.html" with target="myModal-task" modal_list_title="Update Task" %}
            </div>
        <br>
            <pre>{{ task.description }}
            </pre>
        <br>
                <p>
                    {% if task.file %}
                <i class="fa fa-file"></i>
                <a href="{{ task.file.url }}">Attachments</a>
                {% else %}
                        <i class="fa fa-chain-broken"></i> No attachment uploaded

                    {% endif %}
                </p>
        <br>
        </div>

        <div class="col-sm-4 jumbotron">

                    STATUS:
                      <span
                      {% if task.status == 1 %}
                        class="label label-danger"
                    {% elif task.status == 2 %}
                        class="label label-info"
                    {% elif task.status == 3 %}
                        class = "label label-warning"
                    {% elif task.status == 4 %}
                        class = "label label-success"
                    {% endif %}
                    >{{ task.get_status_display }}</span>
            <hr>
            Points: <span class="label label-default">{{ task.points }}</span>
        </div>
    </div>
    <div class="row">
    <hr>
    <h4>Related SubLists:
        <button type="button" class="btn btn-default"
                data-toggle="modal" data-target="#myModal-sublist">Add SubList +
        </button>
    </h4>
    <div class="tab-pane active" role="tabpanel">
        {% include "modal/create.html" with target="myModal-sublist" form=sublist_form modal_list_title="Create Sublist" %}
    </div>
    <br>
    <table class="table">
    <thead>
    <tr>
        <th>title</th>
        <th>created at</th>
    </tr>
    </thead>
    <tbody>
    {% for sublist in task.task_sublist.all %}
        <tr>
            <td>
                {% if request.user == sublist.task.user or request.user == sublist.task.list.user %}
                <a href="{{ sublist.delete_url }}">
                        <span class="glyphicon glyphicon-remove"></span>
                </a>
                {% endif %}
                 {{ sublist.title }}</td>
            <td>{{ sublist.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
 </div>
{% endblock content %}